/* selection area style */
::selection {
    color: white;
    background: #009e8f;
}

/* article font style */
.post, .posts {
    font-family: 'Georgia', 'Times New Roman', 'FreeSerif', serif;
}

/* code font style */
code, kbd, pre, samp {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1em;
    line-height: 1.25;
}

/* highlight.js background */
.post .hljs {
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 15px 50px;
}

/* article */
.post {
    line-height: 1.75;
}
.post-content {
    /* tail space */
    padding-bottom: 5em;
}

/* article h1 */
.post-content h1 {
    padding-top: 1.25em;
    border-bottom: dotted 2px;
}

/* article h2 */
.post-content h2 {
    padding-top: 0.5em;
    border-bottom: dotted 1px;
}

/* article h3 */
.post-content h3 {
}

/* article table */
.post-content table {
    min-width: 400px;
    text-align: center;
}

.post-content thead tr {
    border-bottom: black 1px solid;
}

.post-content thead tr th,
.post-content tbody tr td {
    border-right: black 1px solid;
}

.post-content thead tr th:last-child,
.post-content tbody tr td:last-child {
    border-right: none;
}

